[key]
path: C:\Users\username\Documents\Keys\my_key_PRIVATEDONOTSHARE.pem

[twilio]     
account_sid: ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
auth_token: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

[recording]
location:
format: wav